/* Generales de la Sección Home */

body {
  margin: 20px;
  color: whitesmoke;
  background-color: #141414;
  font-family: sans-serif;
  text-decoration: none !important;
  overflow-x: hidden;
}


.titulo {
  margin: 20px;
}

.carrusel-container {
  display: flex;
  overflow-x: auto;
  text-decoration: none;
  scroll-behavior: smooth;
  gap: 10px;
  padding: 20px;
  -webkit-overflow-scrolling: touch;
}

.item {
  flex: 0 0 auto;
  width: 120px;
  height: 160px;
  box-shadow: 0 0px 23px rgba(0, 0, 80, 0.6);
  border-radius: 10px;
  background-size: cover;
  text-decoration: none;
  margin-right: 15px;
  background-position: center;
  transition: transform 0.2s ease;
}

.item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.titulo-item {
  font-size: 14px;
  text-decoration: none;
  color: #eee;
  margin-right: 15px;
  margin-top: 13px;
  text-align: center;
  background-color: transparent;
  border: 3px solid #141414;
}

.NoDisponibleSign {
  padding-left: 15px;
  color: gray;
  font-size: 14px;
  margin-top: -5px;
  padding-bottom: 20px;
}

