/* Generales de la Sección Home */

body {
  margin: 20px;
  color: whitesmoke;
  background-color: #141414;
  font-family: sans-serif;
  text-decoration: none !important;
  overflow-x: hidden;
}


.titulo {
  margin: 20px;
}

.carrusel-container {
  display: flex;
  overflow-x: auto;
  text-decoration: none;
  scroll-behavior: smooth;
  gap: 10px;
  padding: 20px;
  -webkit-overflow-scrolling: touch;
}

.btnp {
  background-color: transparent;
  border: none;
  padding: 10px;
  position: fixed;
  top: 673px;
  left: -5px;
}

.item {
  flex: 0 0 auto;
  width: 120px;
  height: 160px;
  border-radius: 10px;
  background-size: cover;
  text-decoration: none !important;
  margin-right: 15px;
  background-position: center;
  transition: transform 0.2s ease;
}

.item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.titulo-item {
  font-size: 14px;
text-decoration: none !important;
  color: #eee;
  margin-right: 15px;
  margin-top: 13px;
  text-decoration-style: none;
  text-align: center;
}

.NoDisponibleSign {
  padding-left: 15px;
  color: gray;
  font-size: 15px;
  margin-top: -5px;
  padding-bottom: 20px;
}


a.card {
  text-decoration: none !important;
  color: inherit !important;
}

a.card .titulo-item {
  text-decoration: none !important;
  color: inherit !important;
}

.card {
  transition: all 0.5s ease;
  opacity: 1;
  transform: translateY(0);
}

.card.saliente {
  opacity: 0;
  transform: translateY(10px);
}

.footerthing {
  text-align: center;
  padding-top: 15px;
  color: gray;
  font-size: 14px;
}

.footercredits {
  text-align: center;
  margin-top: -5px;
  color: gray;
  font-size: 14px;
}

#protector {
      display: none;
      width: 200px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
    }

    #PTfondoOscuro {
      display: none;
      position: fixed;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 5;
    }


.lastestitem {
   flex: 0 0 auto;
  width: 275px;
  height: 160px;
  border-radius: 10px;
  background-size: cover;
  text-decoration: none !important;
  margin-right: 15px;
  background-position: center;
  transition: transform 0.2s ease;
}

.lastestitem:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.titulo-lastestitem {
  font-size: 14px;
text-decoration: none !important;
  color: #eee;
  margin-right: 15px;
  margin-top: 13px;
  text-decoration-style: none;
  text-align: center;
}

/* Biblioteca */

.librarysection {
  border: solid;
  border-width: 2px;
  padding: 20px;
  font-size: 14.5px;
  border-radius: 10px;
  border-color: #3b3b3b;
  background-color: transparent;
}

.MisFavoritasTitulo {
  margin-top: 5px;
}
/* SISTEMA DE SESION */
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h2 {
    text-align: center;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    text-align: center;
}

.main-content {
    display: block;
    width: 100%;
    padding: 20px;
}
